<div class="left-panel">
    <% Find.forEach(find=> { %>
        <%if (find.Name=="HighCrest" ){%>
            <div class="box-container">
                <div class="box">
                    <div class="content flow">
                        <div class="even-column">
                            <div class="col-left">
                                <img src="All Images/Search_Images/images/highcrest.jpg  " alt="">
                                <h3> <i class="fas fa-map-marker-alt"></i> Sulaimany / Hotels </h3>
                            </div>
                            <div class="col-right">
                                <h1>Sulaimany / HighCrest <i class="fas fa-star" id="star"
                                        style="color: rgb(255, 255, 83);"></i><i class="fas fa-star" id="star"
                                        style="color: rgb(255, 255, 83);"></i><i class="fas fa-star" id="star"
                                        style="color: rgb(255, 255, 83);"></i><i class="fas fa-star" id="star"
                                        style="color: rgb(255, 255, 83);"></i></h1>
                                <p><i class="  icon-content"></i> Location: <%= find.Address %> <i
                                            style="color: chocolate; font-size: 2rem" class="fas fa-map-marker-alt"></i>
                                </p>
                                <p><i class="  icon-content"></i> Price: <%= find.Price %> <i
                                            style="color: chocolate;font-size: 2rem;"
                                            class="fas fa-dollar-sign icon-content-space"></i></p>
                                <p><i class="  icon-content"></i> Service 24/7<i
                                        style="color: chocolate; font-size: 2rem;"
                                        class="fas fa-concierge-bell icon-content-space"></i></i></p>
                                <p><i class="  icon-content"></i> Activity 24/7<i
                                        style="color: chocolate; font-size: 2rem;"
                                        class="fas fa-history icon-content-space"></i></p>
                                <a href="/HighCrest/AllRooms" class="btn-col-left"> Show Rooms</a>
                                <div class="contact-mapp">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.5422083567105!2d45.36657605062364!3d35.56500674384803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40002e3e96d2ee93%3A0xbb12204f2eb2b2b1!2sHigh%20Crest!5e0!3m2!1sen!2siq!4v1638521677712!5m2!1sen!2siq"
                                        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                <%if (find.Name=="Ramada" ){%>
                    <div class="box-container">
                        <div class="box">
                            <div class="content flow">
                                <div class="even-column">
                                    <div class="col-left">
                                        <img src="All Images/Search_Images/images/ramadajpg.jpg" alt="">
                                        <h3> <i class="fas fa-map-marker-alt"></i> Sulaimany / Hotels </h3>
                                    </div>
                                    <div class="col-right">
                                        <h1>Sulaimany / Ramada Hotel <i class="fas fa-star" id="star"
                                                style="color: rgb(255, 255, 83);"></i><i class="fas fa-star" id="star"
                                                style="color: rgb(255, 255, 83);"></i><i class="fas fa-star" id="star"
                                                style="color: rgb(255, 255, 83);"></i></h1>
                                        <p><i class="  icon-content"></i> Location <%= find.Address %><i
                                                    style=" color: chocolate;" class="fas fa-map-marker-alt"></i></p>
                                        <p><i class="  icon-content"></i> Price <%= find.Price %><i
                                                    style="color: chocolate;"
                                                    class="fas fa-dollar-sign icon-content-space"></i></p>
                                        <p><i class="  icon-content"></i> Service <i style="color: chocolate;"
                                                class="fas fa-concierge-bell icon-content-space"></i></i></p>
                                        <p><i class="  icon-content"></i> Activity <i style="color: chocolate;"
                                                class="fas fa-history icon-content-space"></i></p>
                                        <a href="/Search/HighCrest/AllRooms" class="btn-col-left"> Show Rooms</a>
                                        <div class="contact-mapp">
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.862850478392!2d45.42605415062346!3d35.557089244281094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40002c20a61be705%3A0x90d71d407589cb6c!2sRamada%20by%20Wyndham%20Sulaymaniyah%20Salim%20Street!5e0!3m2!1sen!2siq!4v1638521728137!5m2!1sen!2siq"
                                                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <%if (find.Name=="Titanic" ){%>
                            <div class="box-container">
                                <div class="box">
                                    <div class="content flow">
                                        <div class="even-column">
                                            <div class="col-left">
                                                <img src="All Images/Search_Images/images/titanic.jpg" alt="">
                                                <h3> <i class="fas fa-map-marker-alt"></i> Sulaimany / Hotels</h3>
                                            </div>
                                            <div class="col-right">
                                                <h1>Sulaimany / Titanic<i class="fas fa-star" id="star"
                                                        style="color: rgb(255, 255, 83);"></i><i class="fas fa-star"
                                                        id="star" style="color: rgb(255, 255, 83);"></i><i
                                                        class="fas fa-star" id="star"
                                                        style="color: rgb(255, 255, 83);"></i><i class="fas fa-star"
                                                        id="star" style="color: rgb(255, 255, 83);"></i></h1>
                                                <p><i class="  icon-content"></i> Location <%= find.Address %><i
                                                            style="color: chocolate;" class="fas fa-map-marker-alt"></i>
                                                </p>
                                                <p><i class="  icon-content"></i> Price <%= find.Price %><i
                                                            style="color: chocolate;"
                                                            class="fas fa-dollar-sign icon-content-space"></i></p>
                                                <p><i class="  icon-content"></i> Service <i style="color: chocolate;"
                                                        class="fas fa-concierge-bell icon-content-space"></i></i></p>
                                                <p><i class="  icon-content"></i> Activity <i style="color: chocolate;"
                                                        class="fas fa-history icon-content-space"></i></p>
                                                <a href="/Search/HighCrest/AllRooms" class="btn-col-left"> Show
                                                    Rooms</a>
                                                <div class="contact-mapp">
                                                    <iframe
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.1173385520447!2d45.464857950623916!3d35.57549554327428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40002eca8652ce4d%3A0x729a67508deba4a9!2sTitanic%20Hotel%20%26%20Spa!5e0!3m2!1sen!2siq!4v1638521767181!5m2!1sen!2siq"
                                                        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
<% } %>
    <% }); %>
        <div class="right-panel">
            <div class="title-right-panel">
                <h1 style="    font-family: 'Courgette', cursive;font-size: 2rem;padding-left: 30px;"> Search </h1>
            </div>
            <div class="card-right-panel">
                <label for=""> Location </label>
                <input type="text" class="input" name="location-right-panel" placeholder="Sulimani">
            </div>
            <div class="card-right-panel">
                <label for=""> Check-In-Date </label>
                <input type="text" class="input" name="check-in-right-panel" placeholder="10/19/2021">
            </div>
            <div class="card-right-panel">
                <label for=""> Check-Out-Date </label>
                <input type="text" class="input" name="check-out-right-panel" placeholder="10/20/2021 ">
            </div>
            <p class="information-user">1/Night Stay</p>
            <div class="card-right-panel">
                <input type="number" class="input" name="adult-panel" placeholder="5 adults">
            </div>
            <div class="card-right-panel">
                <input type="number" class="input" name="children-panel" placeholder="5 children">
            </div>
            <div class="card-right-panel">
                <input type="number" class="input" name="room-panel" placeholder="5 rooms">
            </div>
            <div class="card-right-panel">
            </div>
            <div class="card-right-panel">
                <label>Price Alert</label>
                <label for="" class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

            <input type="submit" class="btn-search-right-panel fas fa-search" value="Search">
        </div>
        </div>
        </section>